* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --tertiary-color: #319409;

    --font-family: 'Poppins', sans-serif;
    --font-size: 16px;
    --font-weight: 400;

    --border-radius: 8px;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --transition: 0.3s ease-in-out;

    --button-color: #FF0000;
    --button-text-color: #FFFFFF;
    --button-hover-color: #FF0000;
    --button-hover-text-color: #FFFFFF;
}

body {
    background-color: var(--primary-color);
    background-image: url('./img/h98ct9hz24k41.gif');
    background-size: cover;
    color: var(--tertiary-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

br {
    color: #c41616;
    height: 50px;
    width: 100%;
    display: block;
}

.card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 80vh;
    width: 70vw;
    text-align: center;
}

.header {
    height: 20%;
    width: 100%;
    background-color: #c41616;
}

.main {
    height: 80%;
    width: 60%;
    background-color: #16c459;
}

.article {
    height: 80%;
    width: 40%;
    background-color: #1622c4;
}