* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --tertiary-color: #319409;

    --font-family: 'Poppins', sans-serif;
    --font-size: 16px;
    --font-weight: 400;

    --border-radius: 8px;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --transition: 0.3s ease-in-out;

    --button-color: #FF0000;
    --button-text-color: #FFFFFF;
    --button-hover-color: #FF0000;
    --button-hover-text-color: #FFFFFF;
}

body {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.card {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 60vh;
    width: 30vw;
    text-align: center;
}